<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="wx-decrypt">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">wxdecrypt/</directory>
        </whitelist>
    </filter>
</phpunit>